:root {
    --colorbar-height: 7rem; /* Adjust this value to match your d2 height */
}

#colorbar {
    width: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colorbar-svg {
    height: 1rem;
    width: 100%; /* this will define the colorbar width, make it a bit small than container */
}

.colorbar-scale {
    text-align: center;
}

.colorbar-label {
    text-align: center;
    margin-bottom: 0px;
}

.colorbar-scale-tick-label-container {
    display: flex;
    justify-content: space-between;
}

.colorbar-scale-tick-label {
    font-family: "Roboto","Helvetica","Arial","sans-serif";
    font-weight: 400;
    font-size: 1rem;
}
