.title-head {
  color: var(--main-blue);
  text-align: left;
  padding-left: 0.9rem;
  padding-top: 0.9rem;
}

.title-container {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 27rem;
  background-color: white;
  color: black;
  z-index: 999;
  padding-bottom: 10px;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

.title-note {
  padding: 0.3rem 0.9rem;
  padding-bottom: 12px;
}

.title-divider {
  border-color: var(--main-blue) !important;
  border-width: 1px !important;
}
